<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/CSS/home.css"/>
<body>
<div id="member-load" th:insert="~{fragments/MemberInformation :: MemberInformation}"></div>
<div id="nav-load" th:insert="~{fragments/Navigation :: Navigation}"></div>

<div class="container">

    <form action="/register-process" method="post">
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요">

            <label for="email">이메일</label>
            <input type="text" id="email" name="email" placeholder="이메일을 입력하세요">
            <button type="button" class="button-style" onclick="sendVerificationCode()">인증코드 전송</button>

            <label for="userId">아이디</label>
            <input type="text" id="userId" name="userId" placeholder="아이디를 입력하세요">

            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요">

            <label for="password2">비밀번호 확인</label>
            <input type="password" id="password2" name="password2" placeholder="비밀번호를 다시 입력하세요">
        </div>
        <input type="submit" class="write" value="등록">
    </form>

</div>

<script src="/JS/home.js"></script>
<script>
    function sendVerificationCode() {
        // 여기에서 입력값을 가져와서 서버로 전송
        var email = document.getElementById('email').value;

        // 이메일 유효성 검사를 위한 간단한 예제
        function validateEmail(email) {
            var regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return regex.test(email);
        }

        if (!validateEmail(email)) {
            alert('유효한 이메일 주소를 입력하세요.');
            return;
        }

        // 이메일을 폼에 설정하고 폼을 전송
        document.getElementById('verificationEmail').value = email;
        document.getElementById('verificationCodeForm').submit();
    }
</script>
<style>
    .button-style {
        background-color: white; /* 배경색을 검정색으로 설정 */
        color: black; /* 글자색을 흰색으로 설정 */
        border: 1px solid black; /* 테두리를 검정색으로 설정 */
    }
</style>
</body>
</html>